body{
  text-align: center !important;
  font-weight: bold !important;
}
.container{
  width:70%;
  text-align:center;
  margin-top:30px;
}
.box {
  border: 1px solid;
  height:2rem;
  border-radius:5px;
  margin:5px;
}


.keyboard{
  z-index:-1;
  position:fixed;

  bottom:5px;
  background:#004134;
  border-radius:25px;
  width:100%;
  text-align:center !important;
}
.keys{
  background:#004134;
  box-shadow:0 0 50px rgba(0, 0, 0, 0.5);
  text-align:center;
  padding:10px;
  border-radius: 5px;
  font-size:1.25rem;
}
button{
  margin-bottom:5px;
 width:9%;
}
/* box colors */
.green{
  background:green;
}
.red{
  background:red;
}
.yellow{
  background:yellow;
}

/* win and loose */
.winBox{
  z-index=2;
  position:fixed;
  left:25%;
  width:50%;
  text-align:center;
  border-radius: 10px;
  background:url("https://images.unsplash.com/photo-1614850523060-8da1d56ae167?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGlnaHQlMjBjb2xvdXJ8ZW58MHx8MHx8&w=1000&q=80");
  font-size:1.2rem;
  padding:15px;
  height:400px;
}
/* responsive */
@media only screen and (max-width: 768px) {
  .box {
    height:2.5rem;
  }
  button{
   width:auto;
   padding:3px;
  }
}

@media only screen and (max-width: 425px) {
  .box {
    height:4rem;
  }
  .keys{
    font-size:1rem;
  }
  button{
   width:70px;
  }
}
@media only screen and (max-width: 375px) {
  .box {
    height:2.75rem;
    font-size:12px;
    margin:2px;
  }
  .keys{
    font-size:1rem;
  }
  button{
   width:60px;
  }
}
@media only screen and (max-width: 320px) {
  .box {
    height:3rem;
    font-size:10px;
    margin:2px;
  }
  .keys{
    font-size:0.75rem;
  }
  button{
   width:60px;
  }
}
